  <div class="bfimgcliser-wrp">
    <div class="container">
      <figure>
        <div id="compare"></div>
      </figure>
      <div class="mobile_slick" id="slick_slide">
      <input oninput="beforeAfter()" onchange="beforeAfter()" type="range" min="0" max="100" value="50" id="slider1"/>
      </div>
      </div>
    <div class="slidertext-wrp">
      <h3 class="homebanner-innerwrp-title"><span> less stress </span>more moments</h3>
      <div class="slidertext-wrp-btn">
        <div class="homebaner-shop-btn2">
          <a class="video_link" href="/pages/video-products-by-prodigi-kids™">
            <!--           <img src="https://cdn.shopify.com/s/files/1/2786/3964/files/homepg-sliderbtnimg.png"> -->

            <div>video</div><div class="play-div"><img src="https://assets.website-files.com/5d2a7a40b9b05dd3c13ea7e7/5d399c8f040fc81c34df8872_play-2.svg" alt="" class="play-icon"></div>
          </a>
        </div>
        <div class="homebaner-shop-btn">
          <a class="button_link text-link" href="https://prodigikids.com/pages/stay-put-plate"  style="width:auto;">Shop</a>
        </div>

      </div>
    </div>
  </div>
  <div class="howitwork-popup">
    <div class="howitwork-wrp clearfix">
      <div class="howitwork-wrp-close"><span class="icon icon-x" aria-hidden="true"></span></div>
      <div class="howitwork-videowrp">
        <iframe src="https://player.vimeo.com/video/357245239" width="315" height="315" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  <style>
    /*  Customize Css  */
div#shopify-section-1571381255958 {
    position: relative;
}
    
    div#shopify-section-1571381255958:after {
      position: absolute;
      content: "";
      width: 100px;
      bottom: 0;
      height: 60px;
      background: #fff;
      bottom: -11px;
      z-index: 99;
      left: 100px;
      filter: blur(35px);
      width: 300px;
  }
    
    body#contact-us-baby-plates-w-suction-by-prodigi-kids™ .wrapper {
      max-width: 100%;
      padding: 0;
    }
    .bfimgcliser-wrp {
      position: relative;
      background: #D4D0C8;
    }
    .bfimgcliser-wrp h3 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      top: 164px;
      z-index: 0;
    }
    .slidertext-wrp-btn {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 100%;
      margin: 0 auto;
      bottom: 0;
      z-index: 999;
      text-align: center;
      min-height: 203px;
      background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgfooterimg1.png);
      background-size: cover;
      padding-top: 35px;
    }

    #compare::before {
      background: url(https://lh3.googleusercontent.com/-t-bIfMVapak/Xaqyo_oYY6I/AAAAAAAAID4/rc55DUTke1Ee09fDsKtbwcTsJua0PWwKgCK8BGAsYHg/s0/2019-10-18.png) no-repeat scroll 0 center transparent;
      background-size: contain;
      content: " ";
      float: right;
      height: 100%;
      margin-right: -34px;
      position: relative;
      top: 0;
      width: 64px;
      margin-top: 40px;
      background-position: bottom 240px center;
    }
    .slidertext-wrp a.button_link.text-link {
      max-width: 100%;
      margin: 0 auto;
    }

    a.video_link {
      position: relative;
      margin-right: 25px;
      padding-left: 70px;
      background-color: hsla(0, 0%, 100%, 0.31);
      color: #db2955;


      background-color: #fff;
      -webkit-transition-property: all;
      transition-property: all;
      font-size: 20px;
      display: inline-block;
      padding: 10px 20px;
      border-style: solid;
      border-width: 2px;
      border-color: #db2955;
      border-radius: 4px;
      -webkit-transition: -webkit-transform 400ms ease;
      transition: -webkit-transform 400ms ease;
      transition: transform 400ms ease;
      transition: transform 400ms ease, -webkit-transform 400ms ease;

      font-weight:bold;
      line-height: 20px;
      text-decoration: none;
      padding-left: 70px;
      font-family: 'ArialRoundedMTBold';
      text-transform:lowercase;
    }
    .play-div {
      position: absolute;
      left: 0%;
      top: 0%;
      right: auto;
      bottom: 0%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-right: 19px;
      padding-left: 19px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color:#db2955;
      color: #db2955;
    }

    /* Slider Css   */

    .container { 
      padding:0px;
      height: 875px;
      max-width: 100%;
      overflow: hidden;
      width: 100%;
    }
    .container figure { 

      background-size: content;
      background-repeat: no-repeat;
      font-size: 0;
      height: 100%;
      margin: 0; 
      position: relative;
      width: 100%; 
    }

    #compare {
      background-color:#D4D0C8;

      background-size: content;
      background-repeat: no-repeat;
      bottom: 0;
      border-right: 5px solid rgba(255,255,255,0.7);
      box-shadow: 10px 0 15px -13px #000;
      height: 100%;
      max-width: 100%;
      min-width: 0.6%;
      overflow: visible;
      position: absolute;
      width:50%; 
      animation: first 4s 1 normal ease-in-out 0.1s; 
      -webkit-animation: first 4s 1 normal ease-in-out 0.1s; 
    }
    .mobile_slick{
      position:absolute;
      top:0;
      bottom:0;
      width:100%;
      height:100%;
      z-index:99;    
    }
    
    input#slider1 {
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none; 
      background: transparent;
      cursor: col-resize;
      height: 100%;
      left: 0;
      margin: 0;
      transform:scaleY(40);
      outline: none; 
      padding: 0;
    }
    .bfimgcliser-wrp{
    	overflow:hidden;	
    }
    input#slider1::-moz-range-track { 
      background: transparent; 
    }
    input#slider1::-ms-track {
      border: none; 
      background-color: transparent;
      height: 100vw; 
      left: 0; 
      outline: none; 
      position: relative;
      top: -100vw; 
      width: 10%;
      margin: 0;
      padding: 0;
      cursor: col-resize;
      color:transparent;
    }
    input#slider1::-ms-fill-lower {
      background-color:transparent;
    }
    input#slider1::-webkit-slider-thumb {
      -webkit-appearance:none;
      height: 100vw;
      width: 10%;
      opacity: 0;
    }
    input#slider1::-moz-range-thumb {
      -moz-appearance: none;
      height: 100vw;
      width: 10%;
      opacity: 0;
    }   
    input#slider1::-ms-thumb {
      height: 100vw;
      width: 10%;
      opacity:0;
    }
    input#slider1 ::-ms-tooltip {
      display:none;
    }
    #compare {
      background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-img.png);
    }
    .container figure { 
      
      background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-img1.png);
    }
    

    @keyframes first {
      0% {width: 0%; }
      22% {width: 90%; }
      44% {width: 0%; }
      66% {width: 90%; }
      99% {width: 50%; }

    }
    @-webkit-keyframes first {
      0% {width: 0%; }
      22% {width: 90%; }
      44% {width: 0%; }
      66% {width: 90%; }
      99% {width: 50%; }
    }

    main.main-content .bfimgcliser-wrp h3 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-width: 714px;
      margin: 0 auto;
      text-align: center;
      top: 275px;
      z-index: 0;
    }
	
    .homebaner-shop-btn {
      display: inline-block;
      vertical-align: middle;
    }
	.homebaner-shop-btn2 a.video_link, .homebaner-shop-btn a.button_link.text-link {
      min-width: 152px;
  }
    .homebaner-shop-btn2{
      display: inline-block;
      margin-top:0;
      vertical-align: middle;
    }

    @media only screen and (max-width:1450px){
      .container {
        height: 788px;        
      }
      .slidertext-wrp-btn{
        background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgfooterimgmac.png);
        background-size: cover;
        min-height: 200px;
      }
      #compare {
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgmac.png);
      }
      .container figure { 
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgmac2.png);
        
      }

    }
    @media only screen and (max-width:1200px){
        .container {
          height: 872px;        
        }
        .slidertext-wrp-btn{
          background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgfooterimgminmac.png);
          background-size: cover;
          min-height: 200px;
        }
        #compare {
          background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgminmac.png);
        }
        .container figure { 
          background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgminmac2.png);

        }

      }
      @media only screen and (max-width:1040px){
        .container {
          height: 744px;        
        }
        #compare::before {
          background-position: bottom 210px center;
        }
        
        .slidertext-wrp-btn{
          background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgfooterimgipad.png);
          background-size: cover;
          min-height: 171px;
        }
        #compare {
          background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgipad.png);
        }
        .container figure { 
          background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgipad2.png);

        }

      }
    @media only screen and (max-width:995px){
      .container {
        height: 720px;        
      }
      .slidertext-wrp-btn{
        background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgipad9911.png);
        background-size: cover;
        min-height: 174px;
      }
      #compare {
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-img991.png);
      }
      .container figure { 
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgipad991.png);

      }

    }
    
    @media only screen and (max-width:769px){
      .container {
        height: 899px;        
      }
      a.video_link {
        text-align: left;
        padding-left: 98px !important;
      }
      div#shopify-section-1571381255958:after {
        display:none;
      }
      .slidertext-wrp-btn a {
        width: 246px !important;
        max-width: 250px !important;
      }
      .slidertext-wrp-btn > div + div {
        margin-top: 11px;
      }
      a.video_link {
        position: relative;
        margin-right: 0;
      }
      .homebaner-shop-btn {
        display: block;
      }
      .slidertext-wrp-btn{
        background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgtabfooter.png);
        background-size: cover;
        min-height: 274px;
        padding-top: 20px;
      }
      #compare::before {
        background-position: bottom 314px center;
      }
      #compare {
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgtab2.png);
      }
      .container figure { 
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgtab.png);

      }

    }
    @media only screen and (max-width:550px){
      .container {
        height: 644px;        
      }
      .slidertext-wrp-btn{
        background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imglandscapefooter.png);
        background-size: cover;
        min-height: 197px;
      }
      #compare::before {
        background-position: bottom 234px center;
      }
      #compare {
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imglandscape2.png);
      }
      .container figure { 
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imglandscape.png);

      }

    }
    @media only screen and (max-width:430px){
      .container {
        height: 503px;        
      }
      .slidertext-wrp-btn{
        background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgiphonefooter.png);
        background-size: cover;
        min-height: 153px;
      }
      #compare::before {
        background-position: bottom 190px center;
      }
      #compare {
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgiphone.png);
      }
      .container figure { 
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgiphone2.png);
      }

    }
    @media only screen and (max-width:400px){
      .container {
        height: 468px;        
      }
      .slidertext-wrp-btn{
        background: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgprotrtfooter.png);
        background-size: cover;
        min-height: 150px;
      }
      #compare::before {
        background-position: bottom 190px center;
      }
      #compare {
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgprotrt2.png);
      }
      .container figure { 
        background-image: url(https://cdn.shopify.com/s/files/1/2786/3964/files/hmdnewsliderdes-imgprotrt.png);
      }

    }
    @media(max-width:1024px){
      .bfimgcliser-wrp h3
      {
        top:40%;
      }
    }

    @media only screen and (min-width: 992px) and (max-width:1023px)  {

      .bfimgcliser-wrp h3{
        top:44%;
      }
    }
    @media only screen and (min-width: 768px) and (max-width:991px)  {
      .bfimgcliser-wrp h3{
        top:30% !important;
      }
    }

    @media only screen and (min-width: 500px) and (max-width:767px)  {
      .bfimgcliser-wrp h3{
        top: 44%;
      }
    }
    @media(max-width:499px){
      .bfimgcliser-wrp h3{
        top:32% !important;
      }
      h3.homebanner-innerwrp-title {
        font-size: 38px !important;
        line-height: 30px !important;
      }
      h3.homebanner-innerwrp-title span {
        font-size: 32px!important;
      }
      .homebaner-shop-btn a.text-link {
        font-size: 17px !important;
        line-height: 25px !important;
      }
      .homebaner-shop-btn2 img {
        max-width: 80px !important;
      }
      
      a.video_link {
        margin-right:0px;
        font-size: 14px;
        padding:8px 20px;
        padding-left: 40px;
        padding-right: 10px;
      }
      .play-div
      {
        padding-left:10px;
        padding-right:10px;
      }
      .slidertext-wrp a.button_link.text-link {
        padding: 5px 7px 5px;
        max-width: 175px;
        margin: 0 auto;
        font-size: 14px !important;
      }
      #compare {
      	    border-right: 10px solid rgba(255,255,255,0.7);
      }
      #compare::before{
        margin-right: -40px;
      }
      #compare::before{
        z-index: 99;
      }
      input#slider1 {
        top: -124vw;
        z-index: 999999999999999999;
      }
/*       #compare::before{
      	display: none;
      }
      .slidertext-wrp {
        display: none;
      } */
    }

	.ragngesilder input {
    padding: 0;
    transform: scaleY(5);
}
  </style>

  <script>
    function beforeAfter() {
      document.getElementById('compare').style.width = document.getElementById('slider1').value + "%";
    }
    jQuery(document).ready(function() {
	
//       jQuery('#ragngesilderinput').click(function(){
// 			alert('121');
// 		});
	
    
    $("#ragngesilderinput").on("swipe",function(){
  		alert(121);
	});
      });
    
  </script>