<div class="">
  {{section.settings.html}}
</div>
{% schema %}
  {
    "name": "About Top",
    "settings": [
      {
        "type": "html",
        "id": "html",
        "label": "Please Enter text here"
      }
     ]
  }

{% endschema %}