{% comment %}
This page is based off of page.full-width
{% endcomment %}

<header class="section-header text-center">
  <hr class="hr--small">
</header>

<div>
  {% comment %}
  When the title was removed from this page, all content went up into the banner, 
  this div counters that issue with spacing.
  {% endcomment %}
  <br>
  <br>
  <br>
</div>

<div class="rte">
  {{ page.content }}
</div>
