<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- /templates/page.about.liquid -->
<!-- /templates/page.full-width.liquid -->


<div class="rte faqpage">
  {{ page.content }}
  
 <section class="faq_mobile">
    <h1>F.A.Q.</h1>
    <!--Accordion wrapper-->
    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#mtb1" aria-expanded="true" aria-controls="mtb1">
                    <h5 class="mb-0">What makes Adi so special?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtb1" class="collapse show text_content" role="tabpanel" aria-labelledby="mhtab1" data-parent="#accordionEx">
            <div class="card-body"><p>At Prodigi Kids, we take great pride in the quality and craftsmanship of our products. Attention to design, materials, safety, and construction are our top priority. Why? Because Adi is so much more than a plate! We spent years creating Adi to be the most trusted product in your home so you can enjoy more loving moments with your children.</p>
            <p>Adi is scientifically engineered to stay in place.  Its innovative, patented design includes a dual strong suction base and suction release tab allowing for easy parent removal.  The tab’s clever placement is out of sight and out of reach for curious little fingers.</p>
            <p>Adi was designed to be lightweight and portable.  Its snap-tight lid keeps food neatly inside each compartment making it ideal to take with you when on the go.  Simply toss Adi into your diaper bag and use at your next mealtime.</p>
        </div>
            </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab2" aria-expanded="false" aria-controls="mtab2">
                    <h5 class="mb-0">Where is Adi made?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab2" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab2" data-parent="#accordionEx">
                <div class="card-body">The Adi plate is made in the USA at Eagle Mold Technologies located in Poway, CA.  The ink is hand silk screened at Accuprint Services in Ontario, CA, and the suction is made by Goodyear Rubber located in Rancho Cucamonga, CA and Tecate, MX. 
</div>
            </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab3" aria-expanded="false" aria-controls="mtab3">
                    <h5 class="mb-0">What is the best way to use the suction?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab3" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab3" data-parent="#accordionEx">
                <div class="card-body">Simply press down on the Adi plate. For a longer lasting grip, you can dampen the bottom of the suction with a little water.</div>
            </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab4" aria-expanded="false" aria-controls="mtab4">
                    <h5 class="mb-0">This suction is strong! How do I remove it?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab4" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab4" data-parent="#accordionEx">
                <div class="card-body">Do NOT pull up on the Adi plate.  The ONLY way to release the suction is to place your index finger into the slot, UNDER the tab and lift up.</div>
            </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab5">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab5" aria-expanded="false" aria-controls="mtab5">
                    <h5 class="mb-0">Does it stick to everything?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab5" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab5" data-parent="#accordionEx">
                <div class="card-body">The Adi plate sticks to most flat surfaces that are not too porous.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab6">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab6" aria-expanded="false" aria-controls="mtab6">
                    <h5 class="mb-0">What age can my child start using the Adi plate? </h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab6" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab6" data-parent="#accordionEx">
                <div class="card-body">The Adi plate is designed for children ages 5+ months and up.  When your child can sit up and is ready for solids, you can start using the Adi plate.  There is no age limit.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab7">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab7" aria-expanded="false" aria-controls="mtab7">
                    <h5 class="mb-0">Is Adi spill-proof?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab7" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab7" data-parent="#accordionEx">
                <div class="card-body">Yes.  The lid keeps solid foods in their individual compartments.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab8">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab8" aria-expanded="false" aria-controls="mtab8">
                    <h5 class="mb-0">Is Adi dishwasher-safe? </h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab8" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab8" data-parent="#accordionEx">
                <div class="card-body">Yes, top-rack only. Hand-washing Adi is recommended. When plastics are washed at high temperatures in the dishwasher, chemical reactions can occur, invisible stress can happen, and plastics can degrade; particularly when using a harsh cleaning agent.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab9">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab9" aria-expanded="false" aria-controls="mtab9">
                    <h5 class="mb-0">Can I use my Adi plate in the microwave?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab9" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab9" data-parent="#accordionEx">
                <div class="card-body">No.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab10">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab10" aria-expanded="false" aria-controls="mtab10">
                    <h5 class="mb-0">Is Adi recyclable? </h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab10" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab10" data-parent="#accordionEx">
                <div class="card-body">Yes. All parts of Adi are recyclable.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab11">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab11" aria-expanded="false" aria-controls="mtab11">
                    <h5 class="mb-0">Is Adi safe for children to put in their mouths?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab11" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab11" data-parent="#accordionEx">
                <div class="card-body"><p>Yes.  We are serious about your child’s safety.</p>
<p>All materials and parts, including the ink on Adi are free of BPA, phthalates, PVC, and lead and made from safe materials that have been FDA-approved for use by young children.</p>
<p>The Adi plate has been tested and approved with U.S. Consumer Product Safety Commission accredited laboratories to ensure that we are compliant with 16 CFR 1500.51 and 1500.52 and the small parts regulations for toys and products for use by children under three years of age.</p></div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab12">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab12" aria-expanded="false" aria-controls="mtab12">
                    <h5 class="mb-0">Is the Adi plate patented? </h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab12" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab12" data-parent="#accordionEx">
                <div class="card-body"><p>Yes.  The the Adi plate is legally protected by both a US Design and Utility Patent.</p>
                <p>US Patent No. D719,786 S and US Patent Application No. 16/019,088.</p></div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab13">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab13" aria-expanded="false" aria-controls="mtab13">
                    <h5 class="mb-0">What is the best way to maintain the suction?  </h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab13" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab13" data-parent="#accordionEx">
                <div class="card-body">We recommend keeping the suction free of dirt and debris and wiped clean before using.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab14">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab14" aria-expanded="false" aria-controls="mtab14">
                    <h5 class="mb-0">Can I order additional suction parts from your website?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab14" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab14" data-parent="#accordionEx">
                <div class="card-body">Yes. Reach out to us at <a href="mailto:info@prodigikids.com">info@prodigikids.com</a>.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab15">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab15" aria-expanded="false" aria-controls="mtab15">
                    <h5 class="mb-0">Can I remove the suction for cleaning?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab15" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab15" data-parent="#accordionEx">
                <div class="card-body"><p>No. We designed the suction to fit snuggly onto its post so that your child cannot remove it.</p>
<p>The Adi plate underwent rigorous testing in the dishwasher and no food debris was left behind.</p></div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab17">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab17" aria-expanded="false" aria-controls="mtab17">
                    <h5 class="mb-0">How do I place an order?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab17" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab17" data-parent="#accordionEx">
                <div class="card-body">Simply go to our <a href="https://prodigikids.com/pages/stay-put-plate">product page</a> and select the product of your choice.  After payment is made, you’ll receive an email confirmation with a tracking number.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab18">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab18" aria-expanded="false" aria-controls="mtab18">
                    <h5 class="mb-0">What if I want to buy a larger quantity of an item than the website currently allows?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab18" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab18" data-parent="#accordionEx">
                <div class="card-body">That’s great!  Reach out to us at <a href="mailto:info@prodigikids.com">info@prodigikids.com</a>.</div>
            </div>
        </div>
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="mhtab19">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#mtab19" aria-expanded="false" aria-controls="mtab19">
                    <h5 class="mb-0">I live outside the United States. Can I still place an order?</h5>
                </a>
            </div>
            <!-- Card body -->
            <div id="mtab19" class="collapse text_content" role="tabpanel" aria-labelledby="mhtab19" data-parent="#accordionEx">
                <div class="card-body"><p>Currently, we sell our products to online shoppers in the US and Canada.</p>
                <p>Prodigi Kids works with DHL Express to offer tracking and shipment delivery status on all Canadian orders.</p>
                <p>Plans are in the works to sell abroad, but not available at this time.</p></div>
            </div>
        </div>
      	<!-- <div class="faq-btm-text">Please <a href="https://prodigikids.com/pages/contact-us"><span>contact us</span></a> if you have a question and didn't see it here.</div> -->
        <!-- Accordion card -->
    </div>
    <!--/.Accordion wrapper-->
</section>
  
</div>


<style>

  * {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}
</style>


<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
