
<!-- /templates/product.liquid -->
<style>

</style>
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<div id="containerproduct1">
  {% comment %}
{% section 'product-video' %}
  {% endcomment %}
  {% comment %}
{% section 'product-slideshow' %}
{% endcomment %}
 
{% section 'product-stayputplate-template' %}

</div>